body{
      background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color: #97d2fa;
  font-size: 16px;
}

.logo{
  width: 300px;
  height: 200px;
  margin-top: 40px;
  margin-left: 150px;
}
.lo{
  float: left;
  list-style: none;
  padding: 10px
}

.lo:hover .al{
  color: black;

}

.li{
  float: right;
  margin-top: 100px;
  margin-right: 150px;
}

.al{
  text-decoration: none;
  font-family: fantasy;
  color: #3498db;
}

#menu{
  margin: auto;
  width: 60%;
  font-family: sans-serif;
  font-size: 110%;
}
ul, ol{
  list-style: none;
}
.nav{
  width: 60%;
  margin: auto;
}
.nav li a{
  background-color: #3498db;
  color: #000;
  text-decoration: none;
  padding: 20px 25px;
  display: block;
}

.nav > li{
  float: left;
}

.nav li a:hover{
  background-color: #B4CBDC;
}

.nav li ul{
  display:none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul{
  display: block;
}

   .nombre {
    font: 150% sans-serif;
    text-align:left;
  }
  
  .social {
    font: 100% sans-serif;
    background-color: black;
    color: blanchedalmond;
    display:flex;
  }

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  width: 90%;
  height: 20%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}
.redes{
  display: flex;
  padding: 10%;
  width: 70%;
}
.redes li{
  width: 100%;
}
.redes img{
 width: 100%;
}
.contacto{
  width: 30%;
}
.contacto a img{
  margin-top: 5%;
}

.item{
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
  
  transition: all 300ms;
  
  position: relative;
}


.item::after {
  content: "";
  background-color: rgba(179, 229, 252, .1);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
}

.item:hover:after{
  opacity: 1;
  transform: scale(1);
}

.item:hover {
  transform: scale(1.05);
}

.item-text{
  padding: 1em;
}


.item-img{
  max-width: 100%;
  display: block;
}


@media screen and (min-width: 590px) {
  
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}



@media screen and (min-width: 960px) {
  
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
  
  .fotocards{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
  }

  .container1{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; 
  }

  .container1 .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }

  .container1 .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

  .container1 .card img{
    width: 330px;
    height: 220px;
  }

  .container1 .card h4{
    font-weight: 600;
  }

  .container1 .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
  }

  .container1 .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db
  }

/*Iniciar sesión y crear cuenta*/  

.form-registro{
  width: 400px;
  background: #97d2fa;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  font-family: ´calibri´;
  color: black;
  box-shadow: 7px 13px 37px #000;
  align-content: right;
}

.form-registro h4{
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: ´calibri´;
  font-size: 18px;
}


.form-registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-registro a:hover{
  color: white;
  text-decoration: underline;
}

.form-registro .botons {
  width: 100%;
  background: #1f54c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/*Carrito de compras*/

a {color: #48577D; text-decoration: none;} 
      
a:hover {text-decoration: underline;} 
      
#main table { 
width: 480px; 
} 
          
 #main table th { 
padding: 5px; 
background-color: #48577D; 
color: #fff;  
} 
              
#main table td { 
padding: 5px; 
 } 
#main table tr { 
background-color: #d3dcf2; }

.de table {
    border-collapse: collapse;
    width: 100%;
  }
  
.de  th, td {
    text-align: left;
    padding: 8px;
  }
  
.de  tr:nth-child(even){background-color: #f2f2f2}
  
 .de th {
    background-color: #97d2fa;
    color: rgb(0, 0, 0);
  }
.de caption {
padding: 0.3em;
color: #fff;
background: #000;
}


:root {
--color-green: #00a878;
--color-red: #fe5e41;
--color-button: #fdffff;
--color-black: #000;
}
.switch-button {
 display: inline-block;
}
.switch-button .switch-button__checkbox {
display: none;
}
.switch-button .switch-button__label {
background-color: var(--color-red);
width: 3rem;
 height: 2rem;
border-radius: 2rem;
display: inline-block;
position: relative;
}
.switch-button .switch-button__label:before {
transition: .2s;
display: block;
position: absolute;
width: 2rem;
height: 2rem;
background-color: var(--color-button);
content: '';
border-radius: 50%;
box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
transform: translateX(1rem);
}

.comprar{
    text-align: right;
}
.salir{
    text-align: left;
    float: right;
}

  table {
     border-collapse: collapse;
     width: 100%;
   }
   
   th, td {
     text-align: left;
     padding: 8px;
   }
   
   tr:nth-child(even){background-color: #f2f2f2}
   
   th {
     background-color: #97d2fa;
     color: rgb(0, 0, 0);
   }